

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body {
	width  : 100%;
	height : 100%;
}


/* for parallax slides */

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:20px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	border-bottom:1px solid #bbb;
	text-align:left;
	width:53px;
}
.navigation li:hover,.active{
	color:red !important;
	cursor:pointer;
}
.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
}
.wrapper {
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;
}
.slideno {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}
.button{
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    bottom:0px;
    left:50%;
    background-color:#333333;
    margin-left:-25px;
}
.button:hover{
    background-color:#494949;
    cursor:pointer;
}


/******************************
 SLIDE 1
*******************************/
#slide1{
    background-color:#ddd;
}
/******************************
 SLIDE 2
*******************************/
#slide2{
    background-color:#eee;
}
/******************************
 SLIDE 2
*******************************/
#slide3{
    background-color:#fff;
}




/*  for form  */

.wpcf7 { max-width: 300px; margin-left: auto; margin-right: auto; padding-top: 10%; }
.wpcf7 h4 { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; border-bottom: 2px solid #111; text-transform: uppercase; }
.wpcf7 p { font-size: 11px; line-height: 12px; }
.wpcf7 .wpcf7-text, .wpcf7 .wpcf7-textarea { border: 0; border-bottom: 1px solid #111; display: block; width: 100%; }
.wpcf7 .button { border: 1px solid #111;
float: left;
height: 35px;
line-height: 33px;
text-transform: uppercase;
width: 100px;
position: relative;
left: 0;
margin: 0;
background-color: #fff; }
.wpcf7 .button:hover { background: #a13922; color: #FFF; border: 1px solid #a13922; }
.wpcf7 .file-upload { position: relative; text-align: center; }
.wpcf7 input[type=file] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; top: 0; left: 0; height: 100%; width: 100px; }
.wpcf7 input[type=text] { font-family: georgia; font-size: 12px; line-height: 20px; }
.wpcf7 input[type=submit] { background: #FFF; float: right; }
.wpcf7 textarea { resize: none; }
.wpcf7 .wpcf7-validation-errors, .wpcf7 .required { color: #a13922; }
.wpcf7 .wpcf7-validation-errors { clear: both; margin-top: 20px; font-size: 14px; }
.wpcf7 .required { padding-left: 5px; }
.wpcf7 .instructions { font: 14px/19px georgia; text-transform: none; margin-bottom: 40px; }
.wpcf7 .submission { margin-top: 30px; }






/* more form things */

