

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





#introduction {
	min-height:100%;
	background-color: #ddd;
}

#about-us {
	min-height:100%;
	background-color: #eee;
}






